body {
    font-family: Arial, sans-serif;
    background-color: #ECF0F1;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6; /* Adjust the line height for better readability */
}

header {
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ECF0F1;
    text-decoration: none;
}

main {
    margin: 20px;
    padding: 20px;
    line-height: 1.8; /* Adds more vertical space between lines in the main section */
}

p, h1, h2 {
    margin-bottom: 15px; /* Adds space between paragraphs and headers */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #2C3E50;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
}

